<!DOCTYPE html>
<html>
<head>
  <title>Diary</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<span id = "flash_tag" class = "flash"></span>
<div id="gateway_div" class="gateway_div">
	<%= render :partial => "shared/gateway.html.erb" %>
</div>
<div id="shutter" class="shutter"></div>
<div class="layout_header">
	Diary
	<span class = "welcome_span"><%= welcome_message %></span>
</div>
<%= yield %>
<div class="layout_footer">
	<ul>
		<li id = "old_entries_li" class="layout_footer_links">Old Entries</li>
		<li id = "save_li" class="layout_footer_links">Save</li>
	</ul>
</div>
</body>
</html>
